# Eric
.eric6project
*.e4p

# JetBrains IDE: PyCharm
.idea

# custom
.cache
.venv

#*.css
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
__pycache__
.installed.cfg
lib
lib64
files/
*.mp3
**/*.mp3
_version.py

# Installer logs
pip-log.txt

# Pipenv
Pipfile
Pipfile.lock
.aider*
# vim
*.un
*.un~
*~
# ENV
.env

# Pylint config
.pylintrc
.pre-commit-config.yaml
